{{!< default}}

{{#post}}
    {{#if feature_image}}
    <figure id="coverimage" style="background-image: url({{feature_image}})"></figure>
    {{/if}}

<article>
    {{#has tag="project-log"}}
    {{#contentFor "custom_head"}}
        <link rel="stylesheet" href="{{asset 'css/prism.css'}}">
    {{/contentFor}}
    {{#contentFor "custom_body_end"}}
        <script src="{{asset 'js/prism.js'}}"></script>
    {{/contentFor}}
    {{/has}}
    <h1>{{title}}</h1>
    {{content}}
    <p class="post-time">Posted on {{date published_at format="MMMM DD YYYY"}} by {{primary_author.name}}</p>
</article>
{{/post}}

<script>
    function resizeIframes() {
        var iframes = document.getElementsByTagName("iframe");
        for (var i=0; i<iframes.length; i++){
            const currentRatio = iframes[i].width/iframes[i].height;
            iframes[i].width = "100%";
            iframes[i].height = iframes[i].offsetWidth/currentRatio;
        }
    }
    window.onload = resizeIframes;
</script>  

